html {
    min-width: 290px !important;
    min-height: 100%;
    background-image: url("../images/background.jpg");
    background-color: rgba(50, 30, 10, .75);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

body {
    width: auto !important;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

header {
    background-color: rgba(180, 120, 100, .8);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgba(210, 150, 130, 1);
}

button, a, #header-blurb {
    font-family: 'Righteous', cursive;
}

h3, #header-name {
    font-family: 'Comfortaa', cursive;
}

.project-card-title {
    font-family: 'Baumans', cursive;
    font-size: 20px;
}

p {
    font-family: 'Voces', cursive;
}

#nav-logo {
    height: 150px;
}

#header-text {
    display: none;
}

.nav-wrapper {
    position: absolute;
    bottom: -3px;
    right: 0;
}

.btn.focus, .btn:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.nav-button {
    border-color: transparent !important;
}

.nav-button:hover, .nav-button:focus {
    background-color: rgba(210, 150, 130, 1) !important;
    color: #f8f9fa !important;
}

.current-page {
    border-color: #f8f9fa !important;
}

.dropdown-item:hover {
    background-color: rgba(250, 190, 170, .4) !important;
}

.dropdown-image {
    height: 20px;
 }

.black-background {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 20px;
}

#profile-portrait {
    float:none;
    width: 225px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
    border-color: black;
}

hr {
    border-color: #ddd;
    overflow: auto;
}

.project-button-active {
    color: #f8f9fa;
    background-color: rgba(210, 150, 130, 1);
}

.project-card-title {
    background-color: rgba(170, 110, 90, .9);
}

.project-card-overlay {
    visibility: hidden !important;
    background-color: rgba(0, 0, 0, .8);
    padding: 0 !important;
}

.project-card-descrip {
    padding: 15px !important;
    margin: 0 !important;
    font-size: 14px;
}

.project-card:hover .project-card-overlay, .project-card-overlay:hover {
    visibility: visible !important;
}

.project-card-content {
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: auto;
}

.project-card-content a {
    color: inherit;
    text-decoration: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #f8f9fa;
    border-radius: 5px;
    font-size: 12px !important;
}

.project-card-content a:hover {
    background-color: rgba(210, 150, 130, 1);
    color: #f8f9fa;
}

@media (min-width: 400px) {
    .project-card-content a {
        font-size: 16px !important;
    }
}

@media (min-width: 576px) {
    #header-text {
        display: initial;
    }
    .nav-button {
        border-color: transparent !important;
        border-bottom: none !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .current-page {
        border-color: #f8f9fa !important;
    }
    .dropdown-image {
        height: 30px;
    }
    #profile-portrait {
        height: auto;
        margin-right: 20px !important;
        margin-bottom: 10px !important;
        float: left;
    }
    .project-card-overlay {
        padding: 30px !important;
    }
    .project-card-descrip {
        font-size: 20px;
    }
    .project-card-content a {
        font-size: 18px !important;
    }
    
}

@media (min-width: 768px) {
    .project-card-overlay {
        padding: 10px !important;
        padding-top: 15px !important;
    }
    .project-card-descrip {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .project-card-overlay {
        padding: 15px !important;
        padding-top: 25px !important;
    }
    .project-card-descrip {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .project-card-overlay {
        padding: 5px !important;
    }
    .project-card-descrip {
        font-size: 16px;
    }
    .project-card-content a {
        font-size: 14px !important;
    }
}

@media (min-width: 1400px) {
    .project-card-overlay {
        padding: 5px !important;
    }
    .project-card-descrip {
        font-size: 16px;
    }
    .project-card-content a {
        font-size: 18px !important;
    }
}