html {
    height: 100%;
    background-image: url("../images/background.jpg");
    background-color: rgba(50, 30, 10, .75);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

body {
    /* position: absolute; */
    min-width: 290px !important;
    width: auto !important;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

header {
    background-color: rgba(180, 120, 100, .8);
}

#nav-logo {
    height: 150px;
}

#header-name {

}

#header-blurb {

}

.nav-wrapper {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.btn.focus, .btn:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.nav-button {
    border-color: transparent !important;
}

.nav-button:hover, .nav-button:focus {
    background-color: rgba(210, 150, 130, 1) !important;
    color: #f8f9fa !important;
}

.current-page {
    border-color: #f8f9fa !important;
}

.dropdown-item:hover {
    background-color: rgba(250, 190, 170, .4) !important;
}

.dropdown-image {
    height: 30px;
 }

.black-background {
    background-color: rgba(0, 0, 0, .7)
}

#profile-portrait {
    width:250px;
    float: left;
    border-color: black;
}

hr {
    border-color: #ddd;
    overflow: auto;
}

#about-me-text {

}

.project-button {

}

.project-button-active {
    color: #f8f9fa;
    background-color: rgba(210, 150, 130, 1);
}

@media (max-width: 576px) {
    #header-text {
        display: none;
    }
    .dropdown-image {
        height: 20px;
    }
    #contact-email {
        line-height: 20px;
    }
    #profile-portrait {
        float:none;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 20px !important;
    }
}